{% include layout/header.html %}

<div class="search-results-header">
  <div id="search-input"></div>
</div>

<div class="search-results container">

  <article>
    <div id="stats"></div>

    <h2>Core</h2>
    <div id="hits"></div>
    
    <h2>PWA</h2>
    <div id="pwa-hits"></div>

  </article>

  <aside>
    <div id="tags"></div>
  </aside>

</div><!-- container -->

<div class="search-results-footer">
  <div id="pagination"></div>
</div>

<script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>

<script>

  app({
    appId: algolia.id,
    apiKey: algolia.key,
    indexName: algolia.index,
    urlSync: true
  });

  function app(opts) {
    
    var searchParameters = {};

    // Get current version from version switcher
    var switcher = document.getElementsByClassName('version-switcher')[0];
    if ( switcher ) {
      var ver = String( switcher.dataset.version );
      searchParameters.facets = ['guide_version'];
      searchParameters.facetsRefinements = {
        guide_version: [ ver ]
      };
    }

    var pwa_search = instantsearch({
      appId: opts.appId,
      apiKey: opts.apiKey,
      indexName: 'pwa-devdocs'
    });

    const search = instantsearch({
      appId: opts.appId,
      apiKey: opts.apiKey,
      indexName: opts.indexName,
      urlSync: true,
      searchParameters: searchParameters,
      searchFunction: (helper) => {
        var query = search.helper.state.query;

        if ( pwa_search.helper) {
          pwa_search.helper.setQuery(query).search();
        }
       
        helper.search();
      }
    });

    search.addWidget(
      instantsearch.widgets.searchBox({
        container: '#search-input',
        placeholder: 'Search',
      })
    );
    
    search.addWidget(
      instantsearch.widgets.hits({
        container: '#hits',
        hitsPerPage: 10,
        templates: {
          item: function ( item ) {
            var title_highlighted = item._highlightResult.title;
            var title_plain = item.title;
            var url = item.url;
            var content = '';
            // Check if we can show title, if not - at least show URL
            if (typeof title_highlighted !== 'undefined') {
              title = title_highlighted.value;
            } else if (typeof title_plain !== 'undefined') {
              title = title_plain;
            } else {
              title = url;
            }

            // Check if we have the description of the hit
            if ( typeof item._highlightResult.content !== 'undefined' ) {
              content = item._highlightResult.content.value;
            }

            //TODO: fix the baseurl on the entire site then remove this:
            if ( baseUrl == '/' ) {
              var link = '<a href="' + url + '">' + title +'</a>';
            } else {
              var link = '<a href="' + baseUrl + url + '">' + title +'</a>';
            }

            return '<div class="hit"><h2 class="hit-name">'+ link + '</h2><div class="hit-url">'+ document.location.origin + url +'</div><div class="hit-content">' + content + '</div></div>';
          },
          empty: '<div id="no-results-message"><p>No results found.</p></div>',
        },
      })
    );

    pwa_search.addWidget(
      instantsearch.widgets.hits({
        container: '#pwa-hits',
        hitsPerPage: 10,
        templates: {
          item: function ( item ) {
            var title_highlighted = item._highlightResult.title;
            var title_plain = item.title;
            var url = item.url;
            var pwa_baseurl = 'https://magento-research.github.io/pwa-studio';
            var link = '<a href="' + pwa_baseurl + url + '">' + title +'</a>';
            var content = '';
            // Check if we can show title, if not - at least show URL
            if (typeof title_highlighted !== 'undefined') {
              title = title_highlighted.value;
            } else if (typeof title_plain !== 'undefined') {
              title = title_plain;
            } else {
              title = url;
            }

            // Check if we have the description of the hit
            if ( typeof item._highlightResult.content !== 'undefined' ) {
              content = item._highlightResult.content.value;
            }

            return '<div class="hit"><h2 class="hit-name">'+ link + '</h2><div class="hit-url">'+ pwa_baseurl + url +'</div><div class="hit-content">' + content + '</div></div>';
          },
          empty: '<div id="no-results-message"><p>No results found.</p></div>',
        },
      })
    );

    search.addWidget(
      instantsearch.widgets.stats({
        container: '#stats',
      })
    );

    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#tags',
        attributeName: 'functional_areas',
        operator: 'or',
        limit: 20,
        sortBy: ["name:asc"],
        templates: {
          header: 'Functional Areas'
        }
      })
    );

    search.addWidget(
      instantsearch.widgets.pagination({
        container: '#pagination',
        scrollTo: '#search-input',
      })
    );

    search.start();
    pwa_search.start();
  }

</script>



{% include layout/footer.html %}
